!!! 5
head
  meta(charset='utf-8')
  title Cubist
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(href='css/bootstrap.css', type='text/css', rel='stylesheet')
  link(href='css/app.css', type='text/css', rel='stylesheet')
  link(href='n/jquery-ui/themes/base/jquery.ui.all.css', type='text/css', rel='stylesheet')
  block header
  
body
  block content

  script(src='n/jquery/tmp/jquery.js')
  script(src='n/underscore/underscore.js')
  script(src='js/store/store.js')
  script(src='n/d3/d3.v2.js')
  script(src='n/cubism/cubism.v1.js')
  script(src='js/bootstrap.js')
  script(src="n/jquery-ui/ui/jquery.ui.core.js")
  script(src="n/jquery-ui/ui/jquery.ui.widget.js")
  script(src="n/jquery-ui/ui/jquery.ui.mouse.js")
  script(src="n/jquery-ui/ui/jquery.ui.draggable.js")
  script(src="n/jquery-ui/ui/jquery.ui.droppable.js")
  != js('util')

  block footer
| </html>